@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";
@import "rc-slider/assets/index.css";

@layer base {
  html {
    font-family: "Inter", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
  }
}

.bg-hero-unidesk {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.671)), url(/images/bed14.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 17px 7px;  prejudica mobile*/
}

.modal-w {
  width: 100%;
}

.icon {
  background: url(/images/location.png) no-repeat 6px;
  background-size: 10px;
}

.euro {
  background: url(/images/euro.png) no-repeat;
  background-size: 10px;
  background-position: 95%;
}

.percent {
  background: url(/images/percent.png) no-repeat;
  background-size: 20px;
  background-position: 95%;
}

#model-radius {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* date pickers */

.react-datepicker__input-container input {
  border-color: #dfdfdf;
}
