@tailwind base;
@tailwind components;
@tailwind utilities;

/* CÓDIGO RODRIGO */
.bg-hero-unidesk {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.671)), url(/images/bed14.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 17px 7px;
}

.bg-destaques-slider1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/bed2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-destaques-slider2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/bed6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-about-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/card1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-about-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/card2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-about-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/card3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* CÓDIGO PARA ESCURECER BANNERS */
.background-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/girlspic.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-w {
  width: 100%;
}

.icon {
  background: url(/images/location.png) no-repeat 6px;
  background-size: 10px;
}

.euro {
  background: url(/images/euro.png) no-repeat;
  background-size: 10px;
  background-position: 95%;
}
/* FINAL CÓDIGO RODRIGO */

#flush-headings {
  background-color: #f9f9f9 !important;
  border-radius: 10px;
  border: none;
}

/* home section 8 */

#modal-img {
  height: 30px;
  width: 30px;
}
#link-modal {
  color: #c48b60;
}

#maps {
  margin-top: 100px;
  margin-bottom: 100px;
}

.Headingn {
  color: #0d152e;
  margin-left: 20px;
  font-weight: bold;
}
.textn {
  color: #2e4832;
  margin-left: 20px;
}
#buttont {
  width: 30%;
  font-size: 15px;
  background-color: #d6b592 !important;
  border-style: none;
  border-radius: 5px solid;
  height: 30px;
  color: white;
}
#buttont:hover {
  width: 30%;
  border: #885825 1px solid;
  border-radius: 5px solid;
  color: #d6b592;
  background-color: white;
}
#search {
  width: 70%;
  background-color: white;
  border-radius: 80px solid;
  margin-left: 20px;
}

#model-radius {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
